src/main/resources/wsdl/smev.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.2" xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/1.2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:fault="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/faults/1.2" targetNamespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/1.2">
    <wsdl:documentation>
        Веб-сервис, предоставляемый СМЭВ, через который
        все участники межведомственного взаимодействия обмениваются сообщениями.
    </wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:types="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.2" xmlns:tns="urn://x-artefacts-smev-gov-ru/services/message-exchange/1.2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:fault="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/faults/1.2">

            <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/1.2" schemaLocation="http://smev3-d.test.gosuslugi.ru:7500/smev/v1.2/ws?xsd=smev-message-exchange-types-1.2.xsd"/>

            <xs:import namespace="urn://x-artefacts-smev-gov-ru/services/message-exchange/types/faults/1.2" schemaLocation="http://smev3-d.test.gosuslugi.ru:7500/smev/v1.2/ws?xsd=smev-message-exchange-faults-1.2.xsd"/>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetResponseRequestMsg">
        <wsdl:part element="types:GetResponseRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SignatureVerificationFaultException">
        <wsdl:part element="fault:SignatureVerificationFault" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AckRequestMsg">
        <wsdl:part element="types:AckRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AttachmentSizeLimitExceededException">
        <wsdl:part element="fault:AttachmentSizeLimitExceeded" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SenderIsNotRegisteredException">
        <wsdl:part element="fault:SenderIsNotRegistered" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendRequestRequestMsg">
        <wsdl:part element="types:SendRequestRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnknownMessageTypeException">
        <wsdl:part element="fault:UnknownMessageType" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="BusinessDataTypeIsNotSupportedException">
        <wsdl:part element="fault:BusinessDataTypeIsNotSupported" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendRequestResponseMsg">
        <wsdl:part element="types:SendRequestResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStatusResponseMsg">
        <wsdl:part element="types:GetStatusResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="InvalidMessageIdFormatException">
        <wsdl:part element="fault:InvalidMessageIdFormat" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TransactionCodeInvalidException">
        <wsdl:part element="fault:TransactionCodeInvalid" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="MessageIsAlreadySentException">
        <wsdl:part element="fault:MessageIsAlreadySent" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="QuoteLimitExceededException">
        <wsdl:part element="fault:QuoteLimitExceeded" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SMEVFailureException">
        <wsdl:part element="fault:SMEVFailure" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendResponseRequestMsg">
        <wsdl:part element="types:SendResponseRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="IncorrectResponseContentTypeException">
        <wsdl:part element="fault:IncorrectResponseContentType" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DestinationOverflowException">
        <wsdl:part element="fault:DestinationOverflow" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TargetMessageIsNotFoundException">
        <wsdl:part element="fault:TargetMessageIsNotFound" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetStatusRequestMsg">
        <wsdl:part element="types:GetStatusRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetRequestResponseMsg">
        <wsdl:part element="types:GetRequestResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetRequestRequestMsg">
        <wsdl:part element="types:GetRequestRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AccessDeniedException">
        <wsdl:part element="fault:AccessDenied" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendResponseResponseMsg">
        <wsdl:part element="types:SendResponseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="StaleMessageIdException">
        <wsdl:part element="fault:StaleMessageId" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetResponseResponseMsg">
        <wsdl:part element="types:GetResponseResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AttachmentContentMiscoordinationException">
        <wsdl:part element="fault:AttachmentContentMiscoordination" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EndOfLifeException">
        <wsdl:part element="fault:EndOfLifeReached" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RequestIsNotFoundException">
        <wsdl:part element="fault:RequestIsNotFound" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RecipientIsNotFoundException">
        <wsdl:part element="fault:RecipientIsNotFound" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="InvalidContentException">
        <wsdl:part element="fault:InvalidContent" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AckResponseMsg">
        <wsdl:part element="types:AckResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SMEVMessageExchangePortType">
        <wsdl:documentation>
            Точка доступа, позволяющая принимать запросы любых типов,
            а также заявки на предоставление госуслуг.
            Кроме того, через этот сервис производится отмена запросов.
            Поскольку СМЭВ поколения 2 работает в режиме принудительной передачи ответов,
            функциональность "узнать статус запроса и получить ответ, если он готов" отсутствует.
        </wsdl:documentation>
        <wsdl:operation name="SendRequest">
            <wsdl:documentation>
                Послать запрос.
                Факт прихода запроса говорит о том, что СМЭВ удостоверился в том, что отправитель
                имеет право на получение данных по этому типу запросов.
                Дополнительный контроль доступа в ИС-поставщике данных запрещён.
                Тип запроса идентифицируется полным именем (qualified name) элемента //SendRequestRequest/PrimaryContent/element().
            </wsdl:documentation>
            <wsdl:input message="tns:SendRequestRequestMsg">
            </wsdl:input>
            <wsdl:output message="tns:SendRequestResponseMsg">
            </wsdl:output>
            <wsdl:fault message="tns:SMEVFailureException" name="SMEVFailureFault">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:BusinessDataTypeIsNotSupportedException" name="BusinessDataTypeIsNotSupportedFault">
                <wsdl:documentation>
                    Запрос с таким полным именем корневого элемента не зарегистрирован в СМЭВ (см. //SendRequestRequest/MessagePrimaryContent/element()).
                    Вероятные причины:
                    ошибка при формировании содержательной части запроса (см. //SendRequestRequest/MessagePrimaryContent/element());
                    запрос этого типа ещё не зарегистрирован в СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidContentException" name="InvalidContentFault">
                <wsdl:documentation>
                    Содержательная часть сообщения (//SendRequestRequest/PrimaryContent/element()) не прошла валидацию по XSD,
                    зарегистрированной в СМЭВ для этого типа запросов.
                    Бизнес-конверт (//SendRequestRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:AttachmentSizeLimitExceededException" name="AttachmentSizeLimitExceededFault">
                <wsdl:documentation>
                    Суммарный размер вложений превысил предел, установленный правилами СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:TransactionCodeInvalidException" name="TransactionCodeInvalidFault">
                <wsdl:documentation>
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:EndOfLifeException" name="EndOfLifeFault">
                <wsdl:documentation>
                    Превышено время жизни сообщения (end of life).
                    Действия клиента: должны предприниматься повторные попытки доставить сообщение,
                    возможно с увеличенным временем жизни.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:QuoteLimitExceededException" name="QuoteLimitExceededFault">
                <wsdl:documentation>
                    Суммарный размер вложений превысил значения квоты СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedFault">
                <wsdl:documentation>
                    Отправителю не разрешено отправлять запросы этого типа.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:MessageIsAlreadySentException" name="MessageIsAlreadySentFault">
                <wsdl:documentation>
                    Сообщение с таким MessageID уже было отправлено ранее.
                    Возможно в следующих ситуациях:
                    a) Клиент пытался отправить сообщение, отправка прошла успешно, но в конце взаимодействия HTTP соединение оборвалось,
                    и клиент не получил ответ от СМЭВ об успешной отправке.
                    При повторной попытке отправить сообщение клиент получит этот fault.
                    В этой ситуации нужно прекратить пытаться повторно послать сообщение.
                    b) Клиент использует алгоритм генерации ID сообщений, не соответствующий МР.
                    c) Клиент пытается послать несколько сообщений, используя один и тот же ID.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:RecipientIsNotFoundException" name="RecipientIsNotFoundFault">
                <wsdl:documentation>
                    Не найден получатель для запроса.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:AttachmentContentMiscoordinationException" name="AttachmentContentMiscoordinationFault">
                <wsdl:documentation>
                    Заголовки вложений не соответствуют содержимому.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:DestinationOverflowException" name="DestinationOverflowFault">
                <wsdl:documentation>
                    Очередь, в которую должен быть послано сообщение, переполнена.
                    Действия клиента: обратиться в службу техподдержки СМЭВ, и продолжать посылать запрос повторно, до успеха.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SenderIsNotRegisteredException" name="SenderIsNotRegisteredFault">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможная причина - смена X-400 имени при получении нового сертификата.
                    Остальные возможные причины - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SignatureVerificationFaultException" name="SignatureVerificationFaultFault">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.2}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidMessageIdFormatException" name="InvalidMessageIdFormatFault">
                <wsdl:documentation>
                    Идентификатор, присвоенный сообщению отправителем, не является корректным строковым представлением UUID, вариант 1 (см. RFC-4122).
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:StaleMessageIdException" name="StaleMessageIdFault">
                <wsdl:documentation>
                    Идентификатор (UUID), присвоенный сообщению отправителем, содержит старый timestamp.
                    Возможно в следующих случаях:
                    a) в системе отправителя неверно установлено время.
                    Действия клиента: установить в операционной системе реальное время.
                    b) в результате очень плохого качества связи, сообщение пытаются отправить в течение двух суток или более.
                    Действия клиента: сгенерировать новый UUID, присвоить его сообщению, отправить сообщение.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendResponse">
            <wsdl:documentation>
                Дай сообщение из моей входящей очереди, если она не пуста.
            </wsdl:documentation>
            <wsdl:input message="tns:SendResponseRequestMsg">
            </wsdl:input>
            <wsdl:output message="tns:SendResponseResponseMsg">
            </wsdl:output>
            <wsdl:fault message="tns:SMEVFailureException" name="SMEVFailureFault">
                <wsdl:documentation>
                    Сообщение невозможно отправить по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:BusinessDataTypeIsNotSupportedException" name="BusinessDataTypeIsNotSupportedFault">
                <wsdl:documentation>
                    Ответ с таким полным именем корневого элемента не зарегистрирован в СМЭВ (см. //SendResponseRequest/MessagePrimaryContent/element()).
                    Вероятные причины:
                    ошибка при формировании содержательной части ответа (см. //SendResponseRequest/MessagePrimaryContent/element());
                    схема, в которой описан XML-тип, ещё не зарегистрирован в СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidContentException" name="InvalidContentFault">
                <wsdl:documentation>
                    Содержательная часть сообщения (//SendResponseRequest/PrimaryContent/element()) не прошла валидацию по XSD,
                    зарегистрированной в СМЭВ для этого типа сообщений.
                    Бизнес-конверт (//SendResponseRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать ответ повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:AttachmentSizeLimitExceededException" name="AttachmentSizeLimitExceededFault">
                <wsdl:documentation>
                    Суммарный размер вложений превысил предел, установленный правилами СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:IncorrectResponseContentTypeException" name="IncorrectResponseContentTypeFault">
                <wsdl:documentation>
                    Содержимое посылается через метод SendResponse,
                    но, согласно реестру типов запросов СМЭВ, содержательная часть сообщения
                    представляет из себя запрос или заявку, а не ответ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:QuoteLimitExceededException" name="QuoteLimitExceededFault">
                <wsdl:documentation>
                    Суммарный размер вложений превысил значения квоты СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:MessageIsAlreadySentException" name="MessageIsAlreadySentFault">
                <wsdl:documentation>
                    Сообщение с таким MessageID уже было отправлено ранее.
                    Возможно в следующих ситуациях:
                    a) Клиент пытался отправить сообщение, отправка прошла успешно, но в конце взаимодействия HTTP соединение оборвалось,
                    и клиент не получил ответ от СМЭВ об успешной отправке.
                    При повторной попытке отправить сообщение клиент получит этот fault.
                    В этой ситуации нужно прекратить пытаться повторно послать сообщение.
                    b) Клиент использует алгоритм генерации ID сообщений, не соответствующий МР.
                    c) Клиент пытается послать несколько сообщений, используя один и тот же ID.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:RecipientIsNotFoundException" name="RecipientIsNotFoundFault">
                <wsdl:documentation>
                    Содержимое посылается через метод SendResponse,
                    но значение //SendResponseRequest/To/text(), по данным СМЭВ,
                    не соотевтствует никакому получателю.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:AttachmentContentMiscoordinationException" name="AttachmentContentMiscoordinationFault">
                <wsdl:documentation>
                    Заголовки вложений не соответствуют содержимому.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:DestinationOverflowException" name="DestinationOverflowFault">
                <wsdl:documentation>
                    Очередь, в которую должен быть послано сообщение, переполнена.
                    Действия клиента: обратиться в службу техподдержки СМЭВ, и продолжать посылать ответ повторно, до успеха.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SenderIsNotRegisteredException" name="SenderIsNotRegisteredFault">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможная причина - смена X-400 имени при получении нового сертификата.
                    Остальные возможные причины - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SignatureVerificationFaultException" name="SignatureVerificationFaultFault">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/fault/1.2}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidMessageIdFormatException" name="InvalidMessageIdFormatFault">
                <wsdl:documentation>
                    Идентификатор, присвоенный сообщению отправителем, не является корректным строковым представлением UUID, вариант 1 (см. RFC-4122).
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:StaleMessageIdException" name="StaleMessageIdFault">
                <wsdl:documentation>
                    Идентификатор (UUID), присвоенный сообщению отправителем, содержит старый timestamp.
                    Возможно в следующих случаях:
                    a) в системе отправителя неверно установлено время.
                    Действия клиента: установить в операционной системе реальное время.
                    b) в результате очень плохого качества связи, сообщение пытаются отправить в течение двух суток или более.
                    Действия клиента: сгенерировать новый UUID, присвоить его сообщению, отправить сообщение.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetStatus">
            <wsdl:documentation>Дай сообщение из моей входящей очереди _запросов_, если она не пуста.</wsdl:documentation>
            <wsdl:input message="tns:GetStatusRequestMsg">
            </wsdl:input>
            <wsdl:output message="tns:GetStatusResponseMsg">
            </wsdl:output>
            <wsdl:fault message="tns:SMEVFailureException" name="SMEVFailureFault">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidContentException" name="InvalidContentFault">
                <wsdl:documentation>
                    Бизнес-конверт (//GetStatusRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:UnknownMessageTypeException" name="UnknownMessageTypeFault">
                <wsdl:documentation>
                    a) Указан тип сообщения, либо не зарегистрированный в СМЭВ.
                    b) Текущий клиент не является зарегистрированным поставщиком сведений по запрошенному типу сообщения.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SenderIsNotRegisteredException" name="SenderIsNotRegisteredFault">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможные причины:
                    - смена X-400 имени при получении нового сертификата.
                    - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SignatureVerificationFaultException" name="SignatureVerificationFaultFault">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.2}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetRequest">
            <wsdl:documentation>Дай сообщение из моей входящей очереди _запросов_, если она не пуста.</wsdl:documentation>
            <wsdl:input message="tns:GetRequestRequestMsg">
            </wsdl:input>
            <wsdl:output message="tns:GetRequestResponseMsg">
            </wsdl:output>
            <wsdl:fault message="tns:SMEVFailureException" name="SMEVFailureFault">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidContentException" name="InvalidContentFault">
                <wsdl:documentation>
                    Бизнес-конверт (//GetRequestRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:UnknownMessageTypeException" name="UnknownMessageTypeFault">
                <wsdl:documentation>
                    a) Указан тип сообщения, либо не зарегистрированный в СМЭВ.
                    b) Текущий клиент не является зарегистрированным поставщиком сведений по запрошенному типу сообщения.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SenderIsNotRegisteredException" name="SenderIsNotRegisteredFault">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможные причины:
                    - смена X-400 имени при получении нового сертификата.
                    - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SignatureVerificationFaultException" name="SignatureVerificationFaultFault">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.2}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetResponse">
            <wsdl:documentation>Дай сообщение из моей входящей очереди _ответов_, если она не пуста.</wsdl:documentation>
            <wsdl:input message="tns:GetResponseRequestMsg">
            </wsdl:input>
            <wsdl:output message="tns:GetResponseResponseMsg">
            </wsdl:output>
            <wsdl:fault message="tns:SMEVFailureException" name="SMEVFailureFault">
                <wsdl:documentation>
                    Сообщение невозможно принять по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidContentException" name="InvalidContentFault">
                <wsdl:documentation>
                    Бизнес-конверт (//GetResponseRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:UnknownMessageTypeException" name="UnknownMessageTypeFault">
                <wsdl:documentation>
                    Указан тип сообщения, либо не зарегистрированный в СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SenderIsNotRegisteredException" name="SenderIsNotRegisteredFault">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможные причины:
                    - смена X-400 имени при получении нового сертификата.
                    - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SignatureVerificationFaultException" name="SignatureVerificationFaultFault">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/types/1.2}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Ack">
            <wsdl:documentation>
                Подтверждение получения сообщения из очереди.
                Должен вызваться после получения сообщения методами GetRequest или GetResponse.
            </wsdl:documentation>
            <wsdl:input message="tns:AckRequestMsg">
            </wsdl:input>
            <wsdl:output message="tns:AckResponseMsg">
            </wsdl:output>
            <wsdl:fault message="tns:SMEVFailureException" name="SMEVFailureFault">
                <wsdl:documentation>
                    Сообщение невозможно отправить по причине сбоя в инфраструктуре СМЭВ.
                    Действия клиента: оповестить техподдержку СМЭВ, предпринимать повторные попытки доставить сообщение, без ограничения количества попыток.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:TargetMessageIsNotFoundException" name="TargetMessageIsNotFoundFault">
                <wsdl:documentation>
                    При попытке подтвердить получение сообщения, СМЭВ не находит неподтверждённого сообщения с таким ID.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:InvalidContentException" name="InvalidContentFault">
                <wsdl:documentation>
                    Бизнес-конверт (//AckRequest) содержит не все подэлементы, обязательные для заполнения, либо имеет неверный формат.
                    Действия клиента: исправить ошибки и послать запрос повторно.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SenderIsNotRegisteredException" name="SenderIsNotRegisteredFault">
                <wsdl:documentation>
                    Отправитель сообщения не зарегистрирован в СМЭВ.
                    Возможная причина - смена X-400 имени при получении нового сертификата.
                    Остальные возможные причины - неправильная настройка СМЭВ.
                </wsdl:documentation>
            </wsdl:fault>
            <wsdl:fault message="tns:SignatureVerificationFaultException" name="SignatureVerificationFaultFault">
                <wsdl:documentation>
                    ЭП-ОВ не прошла проверку.
                    Действия клиента: см. описание {urn://x-artefacts-smev-gov-ru/smev-core/client-interaction/fault/1.2}SignatureVerificationFault.
                </wsdl:documentation>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SMEVMessageExchangeSoap11Binding" type="tns:SMEVMessageExchangePortType">
        <wsp:PolicyReference URI="#MTOM_Policy"/>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendRequest">
            <soap:operation soapAction="urn:SendRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SMEVFailureFault">
                <soap:fault name="SMEVFailureFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessDataTypeIsNotSupportedFault">
                <soap:fault name="BusinessDataTypeIsNotSupportedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault">
                <soap:fault name="InvalidContentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AttachmentSizeLimitExceededFault">
                <soap:fault name="AttachmentSizeLimitExceededFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TransactionCodeInvalidFault">
                <soap:fault name="TransactionCodeInvalidFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EndOfLifeFault">
                <soap:fault name="EndOfLifeFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="QuoteLimitExceededFault">
                <soap:fault name="QuoteLimitExceededFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessDeniedFault">
                <soap:fault name="AccessDeniedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="MessageIsAlreadySentFault">
                <soap:fault name="MessageIsAlreadySentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="RecipientIsNotFoundFault">
                <soap:fault name="RecipientIsNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DestinationOverflowFault">
                <soap:fault name="DestinationOverflowFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AttachmentContentMiscoordinationFault">
                <soap:fault name="AttachmentContentMiscoordinationFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault">
                <soap:fault name="SenderIsNotRegisteredFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault">
                <soap:fault name="SignatureVerificationFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageIdFormatFault">
                <soap:fault name="InvalidMessageIdFormatFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="StaleMessageIdFault">
                <soap:fault name="StaleMessageIdFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="SendResponse">
            <soap:operation soapAction="urn:SendResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SMEVFailureFault">
                <soap:fault name="SMEVFailureFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessDataTypeIsNotSupportedFault">
                <soap:fault name="BusinessDataTypeIsNotSupportedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault">
                <soap:fault name="InvalidContentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="IncorrectResponseContentTypeFault">
                <soap:fault name="IncorrectResponseContentTypeFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AttachmentSizeLimitExceededFault">
                <soap:fault name="AttachmentSizeLimitExceededFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="QuoteLimitExceededFault">
                <soap:fault name="QuoteLimitExceededFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="MessageIsAlreadySentFault">
                <soap:fault name="MessageIsAlreadySentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="RecipientIsNotFoundFault">
                <soap:fault name="RecipientIsNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="DestinationOverflowFault">
                <soap:fault name="DestinationOverflowFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AttachmentContentMiscoordinationFault">
                <soap:fault name="AttachmentContentMiscoordinationFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault">
                <soap:fault name="SenderIsNotRegisteredFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault">
                <soap:fault name="SignatureVerificationFaultFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageIdFormatFault">
                <soap:fault name="InvalidMessageIdFormatFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="StaleMessageIdFault">
                <soap:fault name="StaleMessageIdFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetRequest">
            <soap:operation soapAction="urn:GetRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SMEVFailureFault">
                <soap:fault name="SMEVFailureFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault">
                <soap:fault name="InvalidContentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault">
                <soap:fault name="UnknownMessageTypeFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault">
                <soap:fault name="SenderIsNotRegisteredFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault">
                <soap:fault name="SignatureVerificationFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetStatus">
            <soap:operation soapAction="urn:GetStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SMEVFailureFault">
                <soap:fault name="SMEVFailureFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault">
                <soap:fault name="InvalidContentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault">
                <soap:fault name="UnknownMessageTypeFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault">
                <soap:fault name="SenderIsNotRegisteredFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault">
                <soap:fault name="SignatureVerificationFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetResponse">
            <soap:operation soapAction="urn:GetResponse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SMEVFailureFault">
                <soap:fault name="SMEVFailureFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault">
                <soap:fault name="InvalidContentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnknownMessageTypeFault">
                <soap:fault name="UnknownMessageTypeFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault">
                <soap:fault name="SenderIsNotRegisteredFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault">
                <soap:fault name="SignatureVerificationFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="Ack">
            <soap:operation soapAction="urn:Ack"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SMEVFailureFault">
                <soap:fault name="SMEVFailureFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TargetMessageIsNotFoundFault">
                <soap:fault name="TargetMessageIsNotFoundFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidContentFault">
                <soap:fault name="InvalidContentFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SenderIsNotRegisteredFault">
                <soap:fault name="SenderIsNotRegisteredFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SignatureVerificationFaultFault">
                <soap:fault name="SignatureVerificationFaultFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SMEVMessageExchangeService">
        <wsdl:port binding="tns:SMEVMessageExchangeSoap11Binding" name="SMEVMessageExchangeEndpoint">
            <wsdl:documentation>
                <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.2"/>
            </wsdl:documentation>
            <soap:address location="http://smev3-d.test.gosuslugi.ru:7500/smev/v1.2/ws"/>
        </wsdl:port>
    </wsdl:service>
    <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
        <!-- Напишите здесь имя пакета, в который должны попасть классы, сгенерированные из этого wsdl с помощью ws import -->
        <jaxws:package name="ru.it.smev.message_exchange.autogenerated.service.v1_2"/>
    </jaxws:bindings>
    <wsp:Policy wsu:Id="MTOM_Policy">
        <wsoma:OptimizedMimeSerialization wsp:Optional="true"/>
    </wsp:Policy>
</wsdl:definitions>